{# src/AppBundle/Resources/views/Meat/State/about_brasst.html.twig #}
<div id="about" class="section">
    <section class="inner">
        <h1>{{ 'content_idea.title'|trans|raw }}</h1>
        <hr>
        <p>{{ 'content_idea.text'|trans }}</p>
        <hr class="pen">
        <p>{{ 'content_idea.about'|trans }}</p>
        <div class="button"><a href="#!browsers">{{ 'content_idea.download_browser'|trans }}</a></div>
    </section>
</div>