{# src/AppBundle/Resources/views/Meat/State/about_brasst.html.twig #}
<div id="about" class="section">
    <section class="inner">
        <h1>Зачем вам нужен <span class="sSize">Br.Asst.?</span></h1>
        <hr>
        <p>Несмотря на то, что браузеры научились обновлять себя не отвлекая людей от дел, многие до сих пор используют устаревшие версии подобных программ. Это приводит к тому, что для обладателей старых браузеров сайты и системы в сети будут работать и выглядеть не так, как это было задумано их создателями. Не стоит портить себе впечатление - лучше всегда использовать последние версии браузеров!</p>
        <hr class="pen">
        <p>Мы, веб-агентство CHEERS! Unlimited, разработали Br.Asst. с целью заботы о наших клиентах и пользователях. Br.Asst. поможет вам узнать, не устарел ли ваш браузер, а также скачать последнюю версию любого из наиболее популярных на сегодняшний день.</p>
        <div class="button"><a href="#!browsers">скачать браузер</a></div>
    </section>
</div>