{# src/AppBundle/Resources/views/Meat/State/home.html.twig #}
<div id="main" class="section active">
    <section class="inner">
        <h1>ТОЛЬКО СВЕЖИЕ БРАУЗЕРЫ С <span class="sSize">BR.ASST.</span></h1>
        <h2>инструмент проверки и обновления вашего браузера</h2>
        <section id="widget">
            <span class="icon updated"></span>
            <h2>Вы используете последнюю версию браузера</h2>
            <h3>Google Chrome</h3>
            <ul>
                <li><span class="icon chrome"></span></li>
                <li><p>для</p></li>
                <li><span class="icon mac"></span></li>
            </ul>
            <p class="last">версия: <span class="sSize">40.0.2214.94</span></p>
        </section>
        <div id="benefits">
            <ul>
                <li><a href="#!about"><span class="sSize">о Br.Asst.</span></a></li>
                <li><a href="#!browsers"><span class="sSize">Браузеры</span></a></li>
                <li><a href="#!api"><span class="sSize">Api</span></a></li>
            </ul>
        </div>
    </section>
</div>